@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #f0f0f5;
  color: #6c6c80;
}
body,
input,
textarea,
button {
  font-family: "Nunito", sans-serif;
}

.grid-profile-form {
  display: flex;
}

@layer components {
  .grid-flow-container {
    @apply grid gap-4 w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
  }
  /* Nav Component */
  .logo_text {
    @apply max-sm:hidden text-2xl font-semibold text-white tracking-wide;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-column {
    @apply flex flex-col;
  }
  .flex-start {
    @apply flex justify-start items-start;
  }
  .flex-end {
    @apply flex justify-end items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .fixed-element {
    @apply fixed top-0 left-0 right-0 z-30;
  }
  .icon {
    @apply flex-shrink-0 h-5 w-5;
  }
  .text-invisible {
    @apply invisible h-0 w-0 hidden md:block md:visible md:h-auto md:w-auto text-sm;
  }
  .bg-gradient {
    color: #fff;
    background: rgb(244, 189, 79);
    background: -moz-linear-gradient(
      112deg,
      rgba(244, 189, 79, 1) 0%,
      rgba(245, 132, 11, 1) 25%,
      rgba(245, 89, 11, 1) 60%
    );
    background: -webkit-linear-gradient(
      112deg,
      rgba(244, 189, 79, 1) 0%,
      rgba(245, 132, 11, 1) 25%,
      rgba(245, 89, 11, 1) 60%
    );
    background: linear-gradient(
      112deg,
      rgba(244, 189, 79, 1) 0%,
      rgba(245, 132, 11, 1) 25%,
      rgba(245, 89, 11, 1) 60%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4bd4f",endColorstr="#f5590b",GradientType=1);
  }
  .bg-solid {
    background-color: #fef5e7;
  }
  .bg-solid-alt {
    background-color: #9164fa;
  }
  .bg-hover {
    @apply bg-secondary/70 text-white hover:bg-secondary transition-all duration-300;
  }
  .btn {
    @apply px-4 py-3 rounded-lg capitalize cursor-pointer shadow-lg flex-center gap-3 duration-300 transition-all hover:shadow-none;
  }
  .btn-outline {
    @apply border border-zinc-50 hover:bg-hover hover:border-transparent;
  }

  .btn-fill {
    @apply font-semibold md:bg-gradient md:text-white md:p-4 md:rounded-full md:w-32 !important;
  }
  .btn-primary {
    @apply text-primary;
  }
  .input-clean {
    @apply border-none outline-0 focus:ring-0;
  }
  .input {
    @apply text-black  border border-zinc-100 bg-[#f7e9d1] w-full shadow-sm h-12 px-3 rounded placeholder:text-zinc-500 focus:bg-primary/60 disabled:bg-zinc-300 disabled:border-transparent disabled:cursor-not-allowed;
  }
  /* sidebar */

  .sidebar-title {
    @apply text-sm md:text-2xl font-bold text-center;
    /* text-[#494D4B] */
  }
  .sidebar-link {
    @apply flex items-center justify-center text-zinc-300 gap-3 hover:text-white transition-colors duration-300;
  }

  .sidebar-text {
    @apply h-0 w-0 invisible lg:visible lg:h-full lg:w-full font-semibold;
  }

  .th {
    @apply p-2 text-left bg-secondary/70 text-white text-base leading-relaxed first:rounded-tl-lg last:rounded-tr-lg;
  }
  .td {
    @apply bg-white border-t-4 text-sm p-2 leading-relaxed first:pl-4 last:pr-4;
  }
  .td-cancelado {
    @apply td bg-gray-300 cursor-not-allowed;
  }
  .td-concluido {
    @apply td text-success font-bold;
  }
  .subtitle {
    @apply text-xl font-bold leading-relaxed;
  }
  .grid-performance {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3;
  }
}
/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
