@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f59e0b;
  --secondary-color: #8f1dde;
  --title-color: #322153;
  --text-color: #6c6c80;
  /* 
  primary: ,
  : "#",
  titlecolor: "#322153",
  textcolor: "#6c6c80",
  info: "#60a5fa",
  success: "#34cb79",
  warning: "#fbbf24",
  error: "#dc2626" */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #f0f0f5;
  color: #6c6c80;
}
body,
input,
textarea,
button {
  font-family: Roboto, sans-serif;
}

@layer components {
  .page-home {
    @apply min-h-screen;
  }
}

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
