:root {
  --primary-color: #f59e0b;
  --secondary-color: #8f1dde;
  --title-color: #322153;
  --text-color: #494d4b;

  /* 
  primary: ,
  : "#",
  titlecolor: "#322153",
  textcolor: "#6c6c80",
  info: "#60a5fa",
  success: "#34cb79",
  warning: "#fbbf24",
  error: "#dc2626" */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .quick-links {
    @apply w-56 h-24 rounded-lg border border-red-500 flex items-center justify-center gap-4 flex-row-reverse;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexCol {
    @apply flex flex-col;
  }
  .flexColReverse {
    @apply flex flex-col-reverse;
  }
  .flexRow {
    @apply flex flex-row;
  }
  .flexRowReverse {
    @apply flex flex-row-reverse;
  }
  .bg-gradient-custom {
  }
  .radius-base {
    @apply rounded-lg;
  }
  .btn {
    @apply px-4 py-3 rounded-lg cursor-pointer shadow-lg hover:shadow-none;
  }
}
