.card {
  background: none;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.71);
    background: #fff;
    .containerImage {
      filter: grayscale(0%);
      background-size: 110%;
    }
  }
  .containerImage {
    padding-top: 57%;
    border-radius: 3px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;

    display: block;
    transition: ease-in-out 0.2s;
    filter: grayscale(100%);
  }

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 4px 8px;

    .category {
      padding: 5px 5px 0;
      font-size: 12px;
      font-weight: 600;
      width: 100%;
      text-transform: capitalize;
      display: flex;
      justify-content: space-between;

      --tw-text-opacity: 1;
      color: rgb(245 158 11 / var(--tw-text-opacity));
      text-transform: capitalize;
    }

    .title {
      color: #60489d;
      font-size: 20px;
      margin-top: 12px;
    }

    .text {
      font-size: 14px;
      padding: 5px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
